input {
  max-width: 100%;
}

.error {
  color: red;
  line-height: 20px;
  font-weight: 400;
  display: inline-block;
  margin-top: 5px;
}

.creditCardNumber {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    position: absolute;
    width: 30px;
    height: auto;
    left: 10px;
  }

  input {
    padding-left: 45px !important;
  }
}

button:hover {
    cursor: pointer;
}
button.link {
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.cc-number-review {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
    height: auto;
    width: 32px;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 1px solid #b3b3b3;

  button {
    font-size: 16px;
    padding: 12px 20px;
    background-color: transparent;
    border: none;
  }

  li {
    margin: 0;
    background-color: #f0f0f1;

    &.active, &:hover {
      border-radius: 5px 5px 0 0;
      border-color: #b3b3b3 #b3b3b3 #f0f0f1;
      border-style: solid;
      border-width: 1px 1px 0 1px;
    }

    &.active button {
      margin-bottom: -1px;
      border-bottom: 1px solid #f0f0f1;
    }
  }
}

.loading-form {
  display: flex;
  justify-content: center;
  padding: 60px;
}